# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore README and Makefile
!README
!Makefile

# ignore EXE
*.exe

*.o

.guard/node_modules/

dist/

**/*.pdf

!midterm/*.pdf

!midterm/Makefile

!midterm/*.zip

!final/*.pdf

!final/Makefile

!final/*.zip

**/.DS_Store

!bonus/*.pdf